{{- $mongoPassword := randAlphaNum 32 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
type: Opaque
data:
  MONGO_INITDB_ROOT_USERNAME: {{ "admin" | b64enc | quote }}
  MONGO_INITDB_ROOT_PASSWORD: {{ $mongoPassword | b64enc | quote }}
